
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");

/*
	One Line a Day

	An app that lets you enter a short idea into a daily online journal
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}





	html {
		box-sizing: border-box;
		overflow-x: hidden;		
		font-size: 62.5%;
		scroll-behavior: smooth;
	}
 	

	 *, *:before, *:after {
		box-sizing: inherit;
	} 

	

	body {
		background: #ffffff;
		overflow-x: hidden;
	}

	
	body, input, select, textarea {
				color: #000000;
				font-family: "Source Sans Pro", Helvetica, sans-serif;
				font-size: 1rem;
				font-weight: 300;
				letter-spacing: 0.0375em;
				line-height: 2;
			}
		
			strong, b {
				font-weight: 600;
				color: #000000;
			}
		
	
		
		
			h1, h2, h3, h4, h5, h6 {
				color: white;
				font-family: "Raleway", Helvetica, sans-serif;
				font-weight: 600;
				letter-spacing: 0.175em;
				line-height: 1.75;
				margin: 0 0 1.5rem 0;
				text-transform: uppercase;
			}
		
				a {
					color: inherit;
					text-decoration: none;
					font-size: 2rem;
					color: #442587;
				}
		
			h1 {
				font-family: "Source Sans Pro", Helvetica, sans-serif;
				font-size: 5rem;
				font-weight: 700;
				letter-spacing: -0.05em;
				line-height: 1.1;
				margin: 0 0 1.5rem 0;
				text-transform: none;
			}
		
			@media (min-width: 1200px) {
				h1 {
				  font-size: 7rem;
				}
			  }
			
			h2 {
				font-size: 1.5rem;
				/* font-style: italic; */
				/* border: solid black; */
				
				vertical-align: baseline;
			}

			@media (min-width: 1200px) {
				h2 {
				  font-size: 2rem;
				  font-weight: 300;
				}
			  }
		
			h3 {
				font-size: 1.6rem;
				color: #442587;
			}
		
			h4 {
				font-size: 0.875rem;
			}
		
			h5 {
				font-size: 0.75rem;
			}
		
			h6 {
				font-size: 0.625rem;
			}
		
			p, .abouttext {
				font-size: 1.5rem;
				font-weight: 450;
				/* margin-top: 5rem; */
				padding: 3% 8% 2% 8%;
				/* border: 3p dotted black; */
			}
		
			@media (min-width: 1200px) {
				p {
				  font-size: 1.5rem;
				}
			  }
		
		/* Arrow */
		
			a.arrow {
				border-bottom: 0;
				display: inline-block;
				height: 8rem;
				position: relative;
				width: 6rem;
			}
		
				a.arrow .label {
					display: none;
				}
		
				.left a .arrow {
					display: none;
					height: 4rem;
					width: 3rem;

				}

				/* "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M442.53,346.28L293.65,495.16c-0.33,0.33-0.7,0.62-1.05,0.94c-9.16,9.77-22.15,15.9-36.6,15.9 c-14.44,0-27.43-6.13-36.59-15.88c-0.35-0.33-0.72-0.62-1.06-0.96L69.47,346.28c-19.62-19.62-19.62-51.44,0-71.05 c19.62-19.62,51.43-19.62,71.06,0l65.23,65.23V50.24C205.76,22.5,228.25,0,256,0s50.24,22.5,50.24,50.24v290.21l65.23-65.23 c19.62-19.62,51.43-19.62,71.05,0C462.15,294.84,462.15,326.66,442.53,346.28z' fill='%23000000' /%3E%3C/svg%3E" */
				a.arrow:before {
					background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a3/Down_arrow.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					content: '';
					display: block;
					height: 8rem;
					position: relative;
					width: 5rem;
					
					animation: transform 0.5s 8;
					animation-direction: alternate;
					animation-delay: 2.5s;
				}
		
				a.arrow:hover {
					animation: scale .5s infinite;
					animation-direction: alternate;
					/* display:none; */
				}
				
				@keyframes transform {
					0% {
						transform: translate(0, 0);    
					}
					100% {
						transform: translate(0px, 7px);
					}
				}				


		
		header {
		  display: flex; 
		  flex-direction: column;
		  justify-content: center; */
		  /* align-items: center; 
		  border: 3px dotted black;
		  /* text-align: right;  */
			height: 90rem;
			
			
		}

		@media (min-width: 1200px) {
			header {
				flex-direction: row;
				height: 110rem;
				
			}
		}

		header::before {	}

		@media (min-width: 1200px) {

		  header::before {
				height: 180%;
				content: 'a';
				width: 1px;
				background: white;
				display: block;
				position: absolute;
				left: 45%;
				top: 429px;
				z-index: 100;
			}
		}
			
		header::after {	}

		@media (min-width: 1200px) {

		  header::after {
				height: 800px;
				width: 1px;
				content: '';
				background: white;
				display: block;
				position: absolute;
				left: 45%;
				margin-top: 550px;
				top: 1145px;
				z-index: 100;
			}
		}

		
		header .header-text h1{

		}	
		
		@media (min-width: 1200px){
			header .header-text h1{
				margin-top: 0%;
				height: 150px;
			}

		}

		header .header-text h1::before, .left h2::before {	}

		@media (min-width: 1200px) {

		header .header-text h1::before, .left h2::before {
			height: 8px;
			width: 8px;
			border-radius: 50%;
			content: '';
			background: white;
			display: block;
			position: absolute;
			left: 41%;
			margin-top: 0%;
			top: 426px;
			}	
		}

		header .header-text h1::after, .left h2::after  {	}
		
		@media (min-width: 1200px) {

		header .header-text h1::after, .left h2::after  {
			height: 1px;
			content: '';
			width: 4%;
			background: white;
			display: block;
			position: absolute;
			left: 41%;
			margin-top: 0%;
			top: 429px;
		}
	}


		
		.headerp {
			font-size: 2.5rem;
			padding: 0;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}

		@media (min-width: 1200px) {
			.headerp {
				font-size: 4rem;
			}
		  }

		section {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		
		@media (min-width: 1200px) {
			section {
			  flex-direction: row;
			  height: 40rem;
			}
		  }

		.left, .header-text {
		  display: flex;
		  flex-direction: column;
		  justify-content: center;
		  width: 100%;
		  height: 8rem;
		  /* border: 5px dotted purple; */
		  background:  #442587;
		  color: white;
		  text-align: center; 
			padding: 0 20rem 0 0;
			
			animation: pulse 4.5s infinite;
			animation-delay: 0s;
			animation-iteration-count: 1;
		}

		@media (min-width: 1200px) {
			.left {
				padding-right: 14rem;
			}

		}

		@keyframes pulse {
			0% {
				background-color: #001F3F;
			}
			100% {
				background-color: #442587;
			}
		}

		.left h2::after {
			left: 41%;
			width: 4%;
			/* height: 2px; */
		}

		.left h2::before{
			left: 41%;
		}

		.start .left h2::before {
			top: 1288px;
		}

		.start .left h2::after {
			top: 1291px;
		}

		.feature1 .left h2::before {
			top: 1688px;
		}

		.feature1 .left h2::after {
			top: 1691px;
		}

		.feature2 .left h2::before {
			top: 2491px;
		}

		.feature2 .left h2::after {
			top: 2494px;
		}

		.contact .left h2::before {
			top: 2088px;
		}

		.contact .left h2::after {
			
			top: 2091px;

		}

		.header-text {
			height: 50rem;
			padding: 0;
		 }


		 @media (min-width: 1200px) {
			.header-text {
			  width: 50%;
			  height: 100%;
			  padding: 0 10% 0 0; 
			  text-align: end; 
			}
		  } 

		@media (min-width: 1200px) {
			.left {
			  width: 50%;
			  height: 100%;
			  /* padding: 10% 5% 20% 0;  */
			  text-align: end; 
			}
		  }
		
		.right {
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
		  width: 100%;
		  height: 100%;
		  /* height: 25rem; */
		  background: white;
		  color: black;
		} 

		.featureright {
			
		}

		.featureright h3 {
			margin: 1rem auto;
			/* margin-bottom: 5rem; */
		}

		@media (min-width: 1200px) {
			.featureright {
			  /* margin-top: 8rem; */
			}
		  }

		.header-img {
			height: 45rem;
			margin-top: 0;
			overflow: hidden;
		}

		@media (min-width: 1200px) {
			.header-img {
			  width: 50%;
			  height: 110rem;
			  /* border: solid red; */
			}
		  }

		@media (min-width: 1200px) {
			.right {
			  width: 50%;
			  height: 100%;
			  /* height: 35rem; */
			}
		  }

		.footer-img {
			margin-top: 16rem;
			width: 100%;
			height: 40rem;
			/* border:6px solid blue; */
			display: none; 
		}

		.header-img img {
			object-fit: fill;
			width: 100%;
			height: 100%;
		}

		@media (min-width: 1200px) {
			img {
				height: 100rem;
				
			}
		}

		.writing {
			height: 40rem;
		}


		
		.signin {

			height: 100%;
			border: 2px dotted gray;
		}
		
		.input {
		/*   display: none; */
			 display: flex; 
			flex-direction: column;  
			justify-content: center;
			height: 100%;
			/* align-items: space-between; */
			/* border: solid black; */
			
		}

		@media (min-width: 1200px) {
			.input {
				  font-weight: 700;
				/* display: none; */
			  /* height: 100%; */
			  /* margin-top: 6%; */
			}
		  }

		

		input, button{
		  width: 80%;
		  margin: 2% 10%;
		  height: 5rem;
		}


		
		button {
		  
		  background: #6536cc;
		  color: white;
		  border-radius: 8px;
		  cursor: pointer;

		}
		
		button:hover {
			/* cursor: hand; */
			color: #442587;
			background: white;
			animation: scale .3s infinite;
			animation-direction: alternate;
		}
		
		@keyframes scale {
			0% {
				transform: scale(1, 1);    
			}
			100% {
				transform: scale(1.03, 1.03);
			}
		}
			
		  
		  
		

		.tab-links {
			display: flex;
			justify-content: center;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			width: 80%;
			height: 4.5rem;
			color: #4442426e;
			margin: auto auto;
		}

		.tab {
			
			width: 25%;
			background: #fdb9ac;

			border-top-left-radius: 18px;
			border-top-right-radius: 18px;
			border: 1px solid #c6c6c6;
			cursor: pointer;
			font-size: 1.8rem;
			font-weight: 515;
			display: flex;
			justify-content: center;


		}

		.active-tab{
			background: #e2e1e1;
		}
		.tab-item {
			display: none; 
			background: #c6c6c6;
			border: 2px dotted darkgray;
			border-radius: 1%;
			width: 80%;
			margin: 0 auto;
			height: 25rem;
		}

		
		.selected-item {
			display: block;
			font-size: 50px;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}

		.selected-item p {
			/* display: block; */
			font-size: 2rem;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
		}

		@media (min-width: 1200px) {
			.selected-item p {
				/* display: block; */
				font-size: 2.3rem;
			}
		}

		

		.mySlides {
			/* display: none; */
			/* height: 100% */
			width: 100%;
			margin-top: 0;
			padding-top: 0;
			/* margin: 0 auto; */
			/* border: solid pink; */
		}



		.slideshow-buttons {
			width: 100%;
			height: 0rem;
			opacity: 0.5;
			display: flex;
			justify-content: space-between;
			align-items: center; 
			transform: translate(0, 20rem);
			position: relative;
			z-index: 100; 
			cursor: pointer;
			font-size: 2.5rem;
		}

		.slideshow-button {
			display: flex;
			justify-content: center;
			background: lightgray;
			width: 4rem;
			height: 4rem;
			border-radius: 10px;

		}

		.slideshow-buttons:hover {
			background: pink:
			animation: scale .5s infinite;
			animation-direction: alternate;
		} 

		@media (min-width: 800px) {
			.slideshow-button {
				/* width: 5%; */
				width: 5rem;
				height: 5rem;
			}
		}

	

		.mySlides {
			display:none;
		}

		.active-slide {
			display: flex;
			height: 40rem;
			width: 100%;
			/* padding-top: -20rem; */
			margin: 0 auto;
			/* position: relative;
			z-index: 1; */
		}

		@media (min-width: 800px) {
			.active-slide, .memories-img {
				width: 80%;
				margin: 0 auto;
			}

		}

		@media (min-width: 1200px) {
			.active-slide {
				width: 100%;
			}
			
		}

		@media (min-width: 1200px) {
			.memories-img {
				width: 100%;
			}
			
		}

		.start{

		}

		.memories-heading {
			height: 20%;

		}

		/* .memories-img {
			height: 80%;
		} */

		.gif-buffer-section {
			height: 10rem;
		}

		.left-buffer {
			width: 50%;
			background: #442587;
		}

		.memories-heading {
			width: 50%;
		}


		.copyright {
			width: 100%;			
			background-image: url(https://i.ibb.co/6F281g8/writing.png);
			height: 13rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 45%;
			padding-top: 9rem;
		}  

		@media (min-width: 1200px) {
			.copyright {
				height: 20rem;
				padding-left: 55%;
				padding-top: 15rem;
				
			}
		}

		.copyright h2 {
			font-size: 1rem;
		}

		@media (min-width: 1200px) {
			.copyright h2 {
				font-size: 1.2rem;
			}
		}